.card-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.spacing{
  display: flex;
  justify-content: space-between;
}

img{
  object-fit: contain;
  
  border-radius: 100%;

  width: 48px;
}

.description{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 4px;
  color: white;
  font-size: 0.8rem;
} 

.add {
  display: flex;
  align-items: flex-start;
  gap: 4px;
  opacity: 0.6;
}

.follow{
  margin-left: 6px;
  padding: 6px 16px;
  
  border: 1px solid transparent;
  border-radius: 99px;
  font-weight: bold;
}

.follow:hover{
  background-color: gray;
  cursor: pointer;
}

.is-following:hover{
  border: 1px solid red;
  background-color: rgba(255, 0, 0, 0.05);
  color: red;
}